.publish-list-container{
    position: relative;
}
.publish-list-row{
    display: grid;      /*   1     2     3   4   5   6    7     8   9    10    11     12    13     14  15  16  */
    grid-template-columns: 0.65fr 0.8fr 1fr 1fr 1fr 1fr 0.75fr 1fr 1fr 0.75fr 0.8fr 0.75fr 0.75fr 1fr 1fr 1fr;
}

.head{
    background-color: darkslategray;
    color: white;
    font-weight: 600;
    height: 4rem;
    position: fixed;
}
.publish-list-row:nth-child(2){
    padding-top: 4rem;
}
.head > .publish-list-cell{
    text-align: center;
    overflow: scroll;
} 
.publish-list-row > *:not(:last-child){
    border-right: 2px solid #ffffff;
}

.publish-list-cell{
    padding: 0.5rem;
    display: flex;
    text-align: center;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
}

.publish-list-cell > *{
    width: 100%;
}
.publish-list-row:not(:first-child):nth-child(odd){
    background-color: whitesmoke;
}
.publish-list-row:not(:first-child):nth-child(even){
    background-color: lightgrey;
}

.list-item-publish-btn{
    background-color: darkgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(160, 160, 160, 0.75);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-box{
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.dialog-title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.dialog-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
}

.dialog-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.dialog-cell{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.dialog-cell > :is(input, select){
    width: 100px;
}
.dialog-cell > label{
    font-size: 16px;
    padding: 0 0.5rem;
}
.dialog-cell > span{
    font-size: 15px;
    display: block;
}

.dialog-btns{
    display: flex;
    gap: 1rem;
    font-size: 16px;
}